@import 'assets/font-awesome-4.7.0/css/font-awesome.min.css';

body {
    background: #a02c2c;
    color: #f4d7d7;
}

.wrapper {
    text-align: center;
    padding: 150px 0;
}

.vlogo {
    margin-left: auto;
    margin-right: auto;
    height: 40%;
    width: auto;
}

ul {
    padding-top: 20px;
    padding-left: 10px;
    text-align: center;
}

ul li {
    display: inline;
    margin: 0 1%;
}

ul li a {
    opacity: 100%;
    text-decoration: none;
    color: #f4d7d7;
    font-size: 3.0vh;
    transition: font-size .5s;
}

ul li a:hover {
    opacity: 50%;
    transition: .5s;
}
